.Footer {
    height: 15em;
    padding: 1.5em;
    h1 {
        font-weight: 500;
        color: $brand-primary;
    }
    background-color: #18232f;
        ul li a , a{
            color: #fff;
        }
        hr {
            background: transparent;
            display: none;
        }
}