.Footer {
    height: 15em;
    background-color: #64829f;
        ul li a , a{
            color: #fff;
        }
        hr {
            background: transparent;
            display: none;
        }
}